.inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

label {
  display: block;
}
.input-field {
  font-family: inherit;
  width: 100%;
  border: none;
  outline: none;
  background-color: #1c82ad;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.02rem;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
}
.grid-full {
  grid-column: span 2;
}
input[type="file"] {
  padding-block: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  scale: 1.5;
  accent-color: #1c82ad;
}

.submit-btn-container {
  margin-top: 1rem;
  text-align: center;
}

input[type="submit"] {
  border: none;
  outline: none;
  padding: 0.5rem 4rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #1c82ad;
}

input[type="submit"]:hover {
  background-color: #35657a;
}
