.flex-align-center-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}
.capitalize {
  text-transform: capitalize;
}
.text-light-blue {
  color: #510da9;
}
.text-justify {
  text-align: justify;
}
.lh-2 {
  line-height: 1.5rem;
}
.p-half {
  padding: 0.5rem;
}

.link-btn {
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: underline;
  color: #D0ADF0;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  font-size: 15px;
}