<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment :: head(~{::link})}">
    <link rel="stylesheet" href="/css/new-book.css">
</head>

<body>
    <header data-th-replace="~{fragment :: header}"></header>
    <main>
        <nav data-th-replace="~{fragment :: nav('/home' , 'Back to Home')}"></nav>

        <section>
            <form action="/create-update-book" method="post" enctype="multipart/form-data">
                <div class="inputs-container" data-th-object="${book}">
                    <div>
                        <label for="book-name">Book Name</label>
                        <input type="text" id="book-name" name="bookName" 
                               placeholder="Ex : Java For Beginners"
                               class="input-field"
                               data-th-field="*{bookName}">
                    </div>
                    
                    <div>
                        <label for="book-author">Book Author</label>
                        <input type="text" id="book-author" class="input-field" name="authorName"
                            placeholder="Ex : Cracking In Coding Interview"
                            data-th-field="*{authorName}"
                            required
                            >
                    </div>
                    <div>
                        <label for="total-page">Total Page</label>
                        <input type="number" id="total-page" name="totalPage" class="input-field"
                            placeholder="Ex : 415"
                            data-th-field="*{totalPage}"
                            required
                            >
                    </div>
                    <div>
                        <label for="publication-date">Publication Date</label>
                        <input type="date"
                        id="publication-date" 
                        class="input-field" 
                        name="publicationDate"
                        data-th-value="*{publicationDate}"
                        >
                    </div>
                    <div class="flex-align-center-1">
                        <label for="paper-back">PaperBack</label>
                        <input type="radio" name="bookFormat" id="paper-back" value="PAPERBACK"  data-th-field="*{bookFormat}">

                        <label for="hard-cover">HardCover</label>
                        <input type="radio" name="bookFormat" id="hard-cover" value="HARDCOVER"  data-th-field="*{bookFormat}">
                    </div>

                    <div class="flex-align-center-1">
                        <label for="amazon">Amazon</label>
                        <input type="checkbox" id="amazon" name="availability" value="amazon" data-th-field="*{availability}">
                        <label for="flipkart">Flipkart</label>
                        <input type="checkbox" id="flipkart" name="availability" value="flipkart" data-th-field="*{availability}">
                        <label for="offline">Offline Store</label>
                        <input type="checkbox" id="offline" name="availability" value="offline" data-th-field="*{availability}">
                    </div>
                    <div>

                        <label for="book-category">Book Category</label>
                        <select name="category" id="book-category" class="input-field"  data-th-field="*{category}">
                            <option value="sports">Sports</option>
                            <option value="fiction">Fiction</option>
                            <option value="non-fiction">Non-Fiction</option>
                            <option value="science">Science</option>
                            <option value="history">History</option>
                            <option value="fantasy">Fantasy</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <div>
                        <label for="book-image">Book Image</label>
                        <input type="file" name="bookImage" id="book-image">
                    </div>
                    <div class="grid-full">
                        <label for="book-description">Book Description</label>
                        <textarea rows="3" name="description" id="book-description" class="input-field"
                        data-th-text="*{description}"
                        required
                        ></textarea>
                    </div>

                    <input type="hidden" name="bookId" data-th-field="*{bookId}">
                </div>
                <div class="submit-btn-container">
                    <input type="submit">
                </div>
            </form>
        </section>
    </main>
</body>

</html>